.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  box-sizing: border-box;
}
#pageCont {
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
}
.imgbox {
  display: grid;
  height: 100%;
  position: absolute;
}
.logobox {
  position: absolute;
  z-index: 10;
  top: 85%;
  left: 50%;
  animation: logoRise 4000ms ease-in-out forwards;
}
#logo {
  animation: logoSpin 2000ms linear infinite;
  filter: drop-shadow(rgb(68, 68, 221) 0px 0px 5px);
}
.interfaceGrid {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto 20%;
  grid-template-rows: 20% auto;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 20;
}
.menuCont {
  grid-column: 1 / span 2;
}

.center-fit {
  max-height: 100vh;
  margin: auto;
}
/* Here using -webkit, we make angle 
of 45 degree of falling star */
.sky {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(-45deg) scaleX(-1);
  transform: rotateZ(-45deg) scaleX(-1);
}
.sky2 {
  position: absolute;
  width: 50%;
  height: 100%;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

/* Here we are making roundabout balls  */
.star {
  position: relative;
  left: 5%;
  top: 5%;
  height: 2px;
  border-radius: 85px;
  background: linear-gradient(-45deg, #eef0f5, rgba(0, 0, 255, 0));

  -webkit-filter: drop-shadow(0 0 6px #eef1f8);
  filter: drop-shadow(0 0 6px #d7dff0);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}

/* Here we add before and after effect to star */
.star::before,
.star::after {
  content: "";
  position: relative;
  top: calc(50% - 10px);
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #eaeef8,
    rgba(0, 0, 255, 0)
  );
  -webkit-transform: translateX(50%) rotateZ(45deg);
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}
.star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
  transform: translateX(50%) rotateZ(-45deg);
}

/* Here we are adding location of each 
   nth-child, animations, delays, and 
   before and after effects to each 
   and every balls(stars) */
.star:nth-child(1) {
  top: calc(50% - -209px);
  left: calc(5% - 3px);
  animation-duration: 5000ms;
  -webkit-animation-duration: 5000ms;
}
.star:nth-child(2) {
  top: calc(50% - -43px);
  left: calc(15% - 37px);
  animation-duration: 6000ms;
  -webkit-animation-duration: 6000ms;
}
.star:nth-child(3) {
  top: calc(95%);
  left: calc(20% - 2px);
  animation-duration: 7000ms;
  -webkit-animation-duration: 7000ms;
}
.star:nth-child(4) {
  top: calc(50% - 209px);
  left: calc(50% - 113px);
}
.star:nth-child(5) {
  top: calc(50% - 146px);
  left: calc(50% - 112px);
  animation-duration: 5000ms;
  -webkit-animation-duration: 5000ms;
}
.star:nth-child(6) {
  top: calc(50% - -108px);
  left: calc(50% - 160px);
}
.star:nth-child(7) {
  top: calc(50% - 52px);
  left: calc(50% - 72px);
  animation-duration: 4000ms;
  -webkit-animation-duration: 4000ms;
}
.star2 {
  position: relative;
  left: 5%;
  top: 5%;
  height: 2px;
  border-radius: 85px;
  background: linear-gradient(-45deg, #eef0f5, rgba(0, 0, 255, 0));

  -webkit-filter: drop-shadow(0 0 6px #eef1f8);
  filter: drop-shadow(0 0 6px #d7dff0);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}

/* Here we add before and after effect to star2 */
.star2::before,
.star2::after {
  content: "";
  position: relative;
  top: calc(50% - 10px);
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #eaeef8,
    rgba(0, 0, 255, 0)
  );
  -webkit-transform: translateX(50%) rotateZ(45deg);
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}
.star2::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
  transform: translateX(50%) rotateZ(-45deg);
}

/* Here we are adding location of each 
   nth-child, animations, delays, and 
   before and after effects to each 
   and every balls(star2s) */
.star2:nth-child(1) {
  top: calc(50% - -309px);
  left: calc(5% - 301px);
  animation-duration: 4000ms;
  -webkit-animation-duration: 4000ms;
}
.star2:nth-child(2) {
  top: calc(10% - -4px);
  left: calc(15% - 307px);
  animation-duration: 5000ms;
  -webkit-animation-duration: 5000ms;
}
.star2:nth-child(3) {
  top: calc(95%);
  left: calc(20% - 2px);
  animation-duration: 6000ms;
  -webkit-animation-duration: 6000ms;
}
.star2:nth-child(4) {
  top: calc(70% - 199px);
  left: calc(50% - 113px);
  animation-duration: 5000ms;
  -webkit-animation-duration: 5000ms;
}
.star2:nth-child(5) {
  top: calc(70% - 196px);
  left: calc(50% - 112px);
  animation-duration: 4000ms;
  -webkit-animation-duration: 4000ms;
}
.star2:nth-child(6) {
  top: calc(50% - -108px);
  left: calc(50% - 160px);
  animation-duration: 8000ms;
  -webkit-animation-duration: 8000ms;
}
.star2:nth-child(7) {
  top: calc(50% - 52px);
  left: calc(50% - 72px);
}
.star2:nth-child(7)::before,
.star2:nth-child(7)::after {
  animation-duration: 8000ms;
  -webkit-animation-duration: 8000ms;
}

/* This code will help to generate 
effect in tail of star2 */
@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

/* This code will generate shining 
effect in head of star2 */
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation 
to head of star2 for shining */
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation 
to tail of star2 */
@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
/* This code will help to generate 
effect in tail of star */
@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

/* This code will generate shining 
effect in head of star */
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation 
to head of star for shining */
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation 
to tail of star */
@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

/* Here we are adding webkit-animation 
for shooting effect */
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(530px);
    transform: translateX(530px);
  }
}

/* Here we make shooting effect */
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(530px);
    transform: translateX(530px);
  }
}
@keyframes logoRise {
  0% {
    top: 85%;
    left: 50%;
  }
  20% {
    top: 40%;
  }
  40% {
    top: 40%;
  }
  80% {
    top: 40%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes logoSpin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
